.area {
    width: 700px;
    height: 300px;
    margin: 0 auto;
    background-color: #96E9BF;
    border: 3px solid black;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
